@font-face {
  font-family: 'Maok';
  font-display: swap;
  src: url('/fonts/MaoK.woff2') format("woff2");  
}

@font-face {
  font-family: 'JetBrains';
  font-display: swap;
  src: url('/fonts/JetBrains.woff2') format("woff2");  
}